@import "./modules/removers";
@import "./modules/wrappers";
@import "./modules/buttons";

@font-face {
    font-family: 'montserrat-bold';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  }

@font-face {
    font-family: 'montserrat-regular';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab:wght@700&display=swap')
}

@font-face {
    font-family: 'roboto-bold';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
}
@font-face {
    font-family: 'roboto-light';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
}

.category_tag {
    @include removeDec;
    color: #121212;
    opacity: 50%;
    font-family: montserrat-bold, sans-serif;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}
.title_tag {
    @include removeDec;
    color: black;
    font-family: roboto-bold, sans-serif;
    font-size: 1.375rem;
    height: 1.813rem;
    margin-top: 0.01rem;
    margin-bottom: 1.5rem;
    
}
.article_btn {
    @include bgLessBtn;
    font-family: roboto-bold, sans-serif;
    font-size: 0.875rem;
}
.article_wrap {
    @include removeDec;
    margin-left: 2.938rem;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: white;
    padding-left: 1.688rem;
    padding-top: 2rem;
    padding-bottom: 1.75rem;
}